.sg-spinner {
  display: inline-block;
  width: gutter(4 / 3);
  height: gutter(4 / 3);
  box-sizing: border-box;
  animation: spinner-animation 0.65s infinite linear;

  circle {
    stroke-dashoffset: 0.5 * 3.14 * gutter(4 / 3); // Calculate half circle length
    stroke-dashoffset: 50%; // Offset by half circle length
  }

  &--small {
    width: gutter(4 / 3);
    height: gutter(4 / 3);

    circle {
      stroke-dasharray: 0.5 * 3.14 * gutter(4 / 3);
    }
  }

  &--xsmall {
    width: gutter(1);
    height: gutter(1);

     circle {
      stroke-dasharray: 0.5 * 3.14 * gutter(1);
    }
  }

  &--xxsmall {
    width: gutter(2 / 3);
    height: gutter(2 / 3);
    circle {
      stroke-width: 2;
      stroke-dasharray: 0.5 * 3.14 * gutter(2/3);
    }
  }

  &--black {
    circle {
      stroke: $black;
    }
  }

  &--white {
    circle {
      stroke: $white;
    }
  }

  &--gray-900 {
    circle {
      stroke: $grayPrimary;
    }
  }

  &--gray-700 {
    circle {
      stroke: $graySecondary;
    }
  }

  &--peach-700 {
    circle {
      stroke: $peachPrimary;
    }
  }

  &--mustard-700 {
    circle {
      stroke: $mustardPrimary;
    }
  }

  &--blue-700 {
    circle {
      stroke: $bluePrimary;
    }
  }
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
